Synapse/pipeline/adf_IncrementalLoad.json
{
	"name": "adf_IncrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "Get-last-watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT TableName, ColumnName, WatermarkValue \nAS Old_WaterMark_Value FROM dbo.watermarktable \nWHERE TableName = ''', pipeline().parameters.p_tablename,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_pipeline_param",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get-new-watermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get-last-watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_Get_NewWaterMark]",
						"storedProcedureParameters": {
							"ColumnName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_columnname",
									"type": "Expression"
								}
							},
							"TableName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_tablename",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlserver_src",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy-Delta",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get-new-watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.p_tablename} WHERE @{pipeline().parameters.p_columnname} > '@{activity('Get-last-watermark').output.firstRow.Old_WaterMark_Value}' and @{pipeline().parameters.p_columnname} <= '@{activity('Get-new-watermark').output.firstRow.New_WaterMark_Value}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sqlserver_src",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_datalake_load",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update-New-WaterMark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy-Delta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_write_watermark_ntemp]",
					"storedProcedureParameters": {
						"LastModifiedValue": {
							"value": {
								"value": "@activity('Get-new-watermark').output.firstRow.New_WaterMark_Value",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.p_tablename",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_config",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"p_tablename": {
				"type": "string"
			},
			"p_columnname": {
				"type": "string"
			},
			"p_src_db": {
				"type": "string"
			},
			"p_lake_dst_folder": {
				"type": "string"
			},
			"p_batch_id": {
				"type": "int"
			},
			"p_run_date": {
				"type": "string"
			},
			"p_param_id": {
				"type": "int"
			}
		},
		"annotations": []
	}
}